<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="/images/logo.png" alt="logo" height="40" style="max-width:100px; margin-top: -7px;"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              {{#if session.isAuthenticated}}
                  <li><a href="#">{{session.data.authenticated.profile.name}}</a></li>
                  <li><a href="#">
                      <img src="{{session.data.authenticated.profile.picture}}" class="img-circle" height="30" alt="">
                  </a></li>
                  <li><a href="#" {{action 'logout'}}>Logout</a></li>
              {{else}}
                  <li><a href="#" {{action 'login'}}>Login</a></li>
              {{/if}}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>


